# The following will not be included in the images deployed to production

# Git metadata
.git
**/.git

# Runtime files
**/runtime/*

# Tmp files
tmp/*

# User data
.files

# Locally synced tenant data
dna/db/migration-results/*/data.sql
dna/db/migration-base/*/data.sql
dna/db/migration-base/*/schema.sql
dna/db/migration-base/*/media
!dna/db/migration-base/clean-db/data.sql
!dna/db/migration-base/clean-db/schema.sql
!dna/db/migration-base/clean-db/media

# Sensitive information
deploy/config/*secrets.php
.env
.*.env
deployments*
**/*secrets.php

# Components not deployed via Docker
ui/angular-frontend/
ui/angular-frontend-dna/

# Components not necessary to deploy
**/vendor/yiisoft/yii/docs
**/vendor/yiisoft/yii/demos
**/vendor/yiisoft/yii/tests

# Local components
**/.sass-cache
.idea
tools/code-generator/
stack/localdb/.db/
