# The following will not be tracked by Git

/vendor/
/node_modules/
/bower_components/

nbproject
.DS_Store
.idea/workspace.xml
!/.idea/codeStyleSettings.xml
npm-debug.log

# Git metadata
.git

# Tmp files
/tmp/

# Local data
.files
.current-local-cli-data-profile

# Sensitive information
/deploy/config/secrets.php
.env
.*.env
/deployments
composer.github.token

